/* CSS declarations go here */

div.cell {
  display: table-cell;
  background: #E6E6E6;
  padding: 10px;
  border-radius: 15px;
  position: center;
}

span.header {
  font-weight: bold;
}

div.ethereumInfo {
  border: 1px solid black;
  line-height: normal;
  font-size: small;
  background: #D8D8D8;
}

div.space {
  padding: 5px;
}
